body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

h3 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}

.location-section {
  display: flex;
  justify-content: center;
  background-color: rgba(236, 234, 234, 0.781);
  padding: 16px;
  color: rgb(76, 76, 76);
}
.location-section span {
  font-weight: 700;
  font-size: 1.1rem;
  padding-right: 32px;
}
.location-section i {
  padding-right: 16px;
}

.pink-btn {
  color: white;
  font-weight: 500;
  border-radius: 64px;
  padding: 16px 24px;
  box-shadow: 0 1px 10px gray;
  background: linear-gradient(to bottom right, #ff79da, 40%, #9356dc);
}
.pink-btn:hover {
  cursor: pointer;
  background: linear-gradient(to bottom right, #ff79da, 70%, #9356dc);
  box-shadow: 0 1px 8px rgb(44, 44, 44);
}

.restaurant-card {
  display: flex;
  flex-direction: column;
  height: 256px;
  margin: 16px 0;
  border-radius: 16px;
  box-shadow: 1px 1px 10px grey;
}
.restaurant-card .card-img {
  height: 70%;
}
.restaurant-card .card-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.restaurant-card .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30%;
  padding: 0 16px;
}
.restaurant-card .card-content h3 {
  font-weight: 800;
  padding-bottom: 4px;
}
.restaurant-card .card-content span {
  font-size: 1.1rem;
}
.restaurant-card .card-content .heart-icon {
  font-size: 1.6rem;
  padding-right: 8px;
}

.fa-heart::before {
  transition: color 2s ease-out;
}

.fa-heart:hover::before {
  color: #ff79da;
  font-weight: bold;
  cursor: pointer;
}

.food-card {
  display: flex;
  background-color: white;
  align-content: stretch;
  margin: 16px 0;
  border-radius: 16px;
  box-shadow: 0 0 10px rgb(187, 186, 186);
}
.food-card:hover {
  cursor: pointer;
}

.food-description {
  width: 80%;
  padding: 12px;
}
.food-description h3 {
  font-size: 1.1rem;
}
.food-description span {
  font-size: 0.9rem;
  color: rgb(76, 76, 76);
}

.food-price {
  display: flex;
  align-items: flex-end;
  padding: 12px;
}
.food-price span {
  font-size: 0.9rem;
  font-weight: 600;
  color: rgb(76, 76, 76);
}

.food-choose-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #99e2d0;
  width: 20%;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: none;
}
.food-choose-btn i {
  font-size: 1.3rem;
}

header {
  display: flex;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 1px 1px 5px rgb(170, 169, 169);
}

.logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

#logo {
  height: 32px;
}

.go-back-arrow {
  justify-self: flex-start;
  font-size: 1.5rem;
  color: black;
}

.description-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 32px;
  background-color: rgba(234, 232, 232, 0.374);
}
.description-section h1 {
  font-size: 1.6rem;
  font-weight: 800;
  text-align: center;
  padding: 0 32px;
  margin: 0 0 16px 0;
}
.description-section span {
  color: rgb(76, 76, 76);
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
.description-section .pink-btn {
  margin: 32px 0 16px 0;
}

.instruction-section {
  padding: 32px;
}

.instruction-card {
  display: flex;
  align-items: center;
  margin: 0 0 24px 16px;
  padding: 24px;
  background-color: rgba(223, 222, 222, 0.466);
  box-shadow: 1px 1px 20px rgb(173, 173, 173);
  color: rgb(76, 76, 76);
  border-radius: 24px;
}
.instruction-card div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: #9356dc;
  font-size: 0.9rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  margin-left: -36px;
}
.instruction-card i {
  padding: 0 16px;
  font-size: 1.2rem;
  color: rgb(125, 125, 125);
}
.instruction-card span {
  font-weight: 600;
}

.instruction-card:hover {
  background-color: rgba(146, 86, 220, 0.1529411765);
}
.instruction-card:hover i {
  color: #9356dc;
}

.restaurants-section {
  padding: 38px 24px;
  background-color: rgba(216, 215, 215, 0.256);
}

footer {
  background-color: rgb(46, 46, 46);
  padding: 24px;
  color: rgb(234, 231, 231);
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
}

.footer-content li {
  margin-bottom: 8px;
}
.footer-content li i {
  padding-right: 8px;
  font-size: 0.7rem;
}
.footer-content li a {
  color: rgb(234, 231, 231);
  font-weight: 400;
}

.background-img {
  height: 256px;
}
.background-img img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.menu-section {
  padding: 32px 16px;
  position: relative;
  margin-top: -32px;
  border-top-right-radius: 32px;
  border-top-left-radius: 32px;
  background-color: rgb(224, 223, 223);
}
.menu-section .restaurant-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 8px;
}
.menu-section h1 {
  font-family: "Shrikhand", cursive;
  font-weight: 400;
  font-size: 1.9rem;
  margin: 0;
}
.menu-section .heart-icon {
  font-size: 1.5rem;
}

.meals-section {
  padding-top: 32px;
}
.meals-section h2 {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 400;
  color: rgb(76, 76, 76);
  padding-left: 8px;
}
.meals-section .green-border {
  margin-top: 2px;
  margin-left: 8px;
  width: 44px;
  height: 3px;
  background-color: #99e2d0;
}

.order-section {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 32px 0;
}
.order-section .pink-btn {
  padding: 16px 48px;
}

/*# sourceMappingURL=style.css.map */
