footer {
  background-color: rgb(46, 46, 46);
  padding: 24px;
  color: rgb(234, 231, 231);
}

.logo-footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.1rem;
}

.footer-content li {
  margin-bottom: 8px;

  i {
    padding-right: 8px;
    font-size: 0.7rem;
  }

  a {
    color: rgb(234, 231, 231);
    font-weight: 400;
  }

  a:hover {
    text-decoration: underline rgb(234, 231, 231);
    cursor: pointer;
  }
}
