.load-spinner-section {
  display: flex;
  justify-content: center;
  padding: 32px 0;
  width: 100%;
  height: 0;
  box-shadow: 0 0 10px rgb(232, 231, 231);
  background-color: rgba(255, 255, 255, 0.927);
  opacity: 0;
  animation: load-spinner-section 2s ease-in-out;
  position: absolute;
}

.load-spinner {
  position: relative;
  width: 80px;
  height: 80px;

  div {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $purple-color;
    animation: load-spinner 1.2s linear infinite;

    &:nth-child(1) {
      top: 8px;
      left: 8px;
      animation-delay: 0s;
    }
    &:nth-child(2) {
      top: 8px;
      left: 32px;
      animation-delay: -0.4s;
    }

    &:nth-child(3) {
      top: 8px;
      left: 56px;
      animation-delay: -0.8s;
    }

    &:nth-child(4) {
      top: 32px;
      left: 8px;
      animation-delay: -0.4s;
    }

    &:nth-child(5) {
      top: 32px;
      left: 32px;
      animation-delay: -0.8s;
    }

    &:nth-child(6) {
      top: 32px;
      left: 56px;
      animation-delay: -1.2s;
    }

    &:nth-child(7) {
      top: 56px;
      left: 8px;
      animation-delay: -0.8s;
    }

    &:nth-child(8) {
      top: 56px;
      left: 32px;
      animation-delay: -1.2s;
    }

    &:nth-child(9) {
      top: 56px;
      left: 56px;
      animation-delay: -1.6s;
    }
  }
}

@keyframes load-spinner {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

@keyframes load-spinner-section {
  0% {
    opacity: 1;
    height: 1000px;
  }

  97% {
    opacity: 1;
    height: 1000px;
  }

  100% {
    opacity: 0;
    height: 0;
  }
}
