.location-section {
  display: flex;
  justify-content: center;
  background-color: rgba(236, 234, 234, 0.781);
  padding: 16px;
  color: $grey-font;

  span {
    font-weight: 700;
    font-size: 1.1rem;
    padding-right: 32px;
  }

  i {
    padding-right: 16px;
  }
}
