body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  text-transform: none;
  color: black;
}

h3 {
  margin: 0;
}

li {
  list-style: none;
}

ul {
  padding: 0;
}
